<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
	<meta charset="utf-8">
	<title>Angular 101 @ grvcoelho</title>
	<link rel="shorcut icon" href="resources/images/favicon.ico">
	<!-- WebComponents and Custom Elements -->
	<script src="components/webcomponentsjs/webcomponents-lite.min.js"></script>
	<link rel="import" href="components/google-slides/google-slides.html">
	<link rel="import" href="components/akyral-code/akyral-code.html">
	<link rel="import" href="components/syntax-highlight/syntax-highlight.html">
	<link rel="import" href="components/font-roboto/roboto.html">
	<link rel="import" href="elements/presentation-author/presentation-author.html">
	<link rel="stylesheet" href="styles.css">
</head>

<body unresolved>
	<google-slides>
		<div is="google-slide" class="googleblue layout vertical center center-justified">
			<h1>AngularJs</h1>

			<p>
				<img src="resources/images/angular-logo.png">
			</p>

			<p>
	            <google-slide-author
	                avatar="resources/images/grvcoelho.jpg"
	                twitter="https://pagar.me"
	                plus="@grvcoelho">
	            </google-slide-author>
	        </p>
		</div>

		<google-slide class="googlegreen layout vertical center center-justified">
			<h1>Agenda</h1>

			<p>- Web Development History</p>
			<p>- AngularJs Features</p>
			<p>- Two-way Data Binding</p>
			<p>- Filters</p>
			<p>- Modules</p>
			<p>- Directives</p>
			<p>- Controllers</p>
			<p>- Routes</p>
		</google-slide>

		<google-slide class="googlered layout vertical center center-justified">
			<h1>Old web architecture</h1>

			<p>
				<img src="resources/images/web-architecture.png">
			</p>
		</google-slide>

		<google-slide class="googleblue layout vertical center center-justified">
			<h1>New web architecture</h1>

			<p>
				<img src="resources/images/web-architecture-spa.png">
			</p>
		</google-slide>

		<google-slide class="googlegreen layout vertical center center-justified">
			<h1>API First web architecture</h1>

			<p>
				<img src="resources/images/modern-api-driven-environment.png">
			</p>
		</google-slide>

		<google-slide class="googlered layout vertical center center-justified">
			<h1>AngularJs</h1>

			<p>- Better Code Organization</p>
			<p>- Better Separation of Concerns</p>
			<p>- Better User Experience</p>
			<p>- Better Applications</p>
		</google-slide>

		<google-slide class="googleblue layout vertical center center-justified">
			<h2>index.html</h2>

<syntax-highlight lang="html" theme="github"><button>Click</button>
</syntax-highlight>

			<h2>scripts.js</h2>
<syntax-highlight lang="javascript" theme="github">var button = document.querySelector('button');

button.addEventListener('click', function sayHi() {
	console.log('hi')
});
</syntax-highlight>
		</google-slide>

		<google-slide class="googlegreen layout vertical center center-justified">
			<h2>index.html</h2>

<syntax-highlight lang="html" theme="github"><button>Click</button>
</syntax-highlight>

			<h2>scripts.js (jQuery)</h2>
<syntax-highlight lang="javascript" theme="github">var button = $('button');

button.click(function sayHi() {
	console.log('hi')
});
</syntax-highlight>
		</google-slide>

		<google-slide class="googlered layout vertical center center-justified">
			<h2>index.html</h2>

<syntax-highlight lang="html" theme="github"><button ng-click="sayHi()">Click</button>
</syntax-highlight>

			<h2>scripts.js</h2>
<syntax-highlight lang="javascript" theme="github">...

function sayHi() {
	console.log('hi');
}
</syntax-highlight>
		</google-slide>

		<google-slide class="googleblue layout vertical center center-justified">
			<h1>Downloading the libraries</h1>

			<p>Download AngularJS http://angularjs.org/</p>
			<p>Download Twitter Bootstrap http://getbootstrap.com/</p>
		</google-slide>

		<google-slide class="googlegreen layout vertical center center-justified">
			<h2>index.html</h2>

<syntax-highlight lang="html" theme="github">&lt;!DOCTYPE html&gt;
&lt;html&gt; 
￼￼￼&lt;head&gt; 
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" /> 
&lt;/head&gt;
&lt;body&gt;
	&lt;script type="text/javascript" src="js/angular.min.js"&gt;&lt;/script&gt;
&lt;/body&gt; 
&lt;/html&gt;
</syntax-highlight>
		</google-slide>

		<google-slide class="googlered layout vertical center center-justified">
			<h2>index.html</h2>

<syntax-highlight lang="html" theme="github">&lt;html ng-app="loja"&gt;
	...
	&lt;script src="js/angular.min.js"&gt;&lt;/script&gt;
	&lt;script src="app/app.js"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
</syntax-highlight>

			<h2>app/app.js</h2>
<syntax-highlight lang="javascript" theme="github">angular
	.module('loja', []);
</syntax-highlight>
		</google-slide>

		<google-slide class="googleblue layout vertical center center-justified">
			<h2>index.html</h2>

<syntax-highlight lang="html" theme="github"><div>
	{{ 2 + 2 }}
</div>
</syntax-highlight>
		</google-slide>

		<google-slide class="googlegreen layout vertical center center-justified">
			<h2>index.html</h2>

<syntax-highlight lang="html" theme="github"><div>
	<input ng-model="message">
	{{ message }}
</div>
</syntax-highlight>
		</google-slide>

		<google-slide class="googlered layout vertical center center-justified">
			<h2>app/controllers.js</h2>

<syntax-highlight lang="javascript" theme="github">angular
	.module('app')
	.controller('LojaController', LojaController);

function LojaController() {
	this.message = 'hello';
}
</syntax-highlight>

			<h2>index.html</h2>

<syntax-highlight lang="html" theme="github"><div ng-controller="LojaController as loja">
	<input ng-model="loja.message">
	{{ loja.message }}
</div>
</syntax-highlight>
		</google-slide>

		<google-slide class="googleblue layout vertical center center-justified">
			<h2>index.html</h2>

<syntax-highlight lang="html" theme="github"><div ng-controller="LojaController as loja"> 
	<h1>Nome do Produto</h1> 
	<h2>$ Preço do Produto</h2> 
	<p>Descrição do Produto</p> 
</div> 
</syntax-highlight>
		</google-slide>

		<google-slide class="googlegreen layout vertical center center-justified">
			<h2>app/controllers.js</h2>

<syntax-highlight lang="javascript" theme="github">function LojaController() {
	var pedra = {
		nome: 'Dodecahedron',
		preco: 2.95,
		descricao: 'Uma pedra preciosa com 12 lados brilhantes nas cores amarelo, rosa, verde e azul.'
	};

	this.produto = pedra;
}
</syntax-highlight>
		</google-slide>

		<google-slide class="googlered layout vertical center center-justified">
			<h2>index.html</h2>

<syntax-highlight lang="html" theme="github"><div ng-controller="LojaController as loja"> 
	<h1>{{ loja.produto.nome }}</h1> 
	<h2>$ {{ loja.produto.preco }}</h2> 
	<p>{{ loja.produto.descricao }}</p> 
</div> 
</syntax-highlight>
		</google-slide>

		<div is="google-slide" class="googleblue layout vertical center center-justified">
			<h1>&lt;thank-you&gt;&lt;thank-you&gt;</h1>

			<p>
				<img src="resources/images/angular-logo.png">
			</p>

			<p>
				<google-slide-author
					avatar="resources/images/grvcoelho.jpg"
					twitter="https://github.com/grvcoelho/presentations/angular-101"
					plus="@grvcoelho">
				</google-slide-author>
			</p>
		</div>
	</google-slides>
</body>
</html>
